<!DOCTYPE html>
<html>
  <head>
    <title>Blackjack 21!</title>
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/application.css">
  </head>
  <body style="padding-top: 50px;">

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
            	<div style="float:left"><strong>BET: $<%= session[:player_bet] %></strong></div>         	
        	<ul class="nav">
        		 
              		 <li><a href="/reset"><i class="icon-cog"></i>New Game</a></li>
           	</ul>
        	<div style="float:right">
			<div class="btn-group">
				<a class="btn btn-primary" href="/reset"><i class="icon-user icon-white"></i><%= session[:player_name] %> ($<%= session[:player_money] %>)</a>
			</div>
            	</div>
        </div>
      </div>
    </div>

  <div class="container">
    <%if @error %>
      <div class="alert alert-error"><%=@error%></div>
    <% end %>
      <%= yield %>
  </div>
  </body>
</html>
